<!DOCTYPE html>
<html>
    <body>
        <h1>Liste des parties :</h1>
        <ul>
        {% for game in games %}
            <li>ID :{{game._id}} <br> Nom : {{game.name}} <br> Mode : {{game.mode}} <br> Status : {{game.status}} <br>
        <a href="/games/{{game._id}}">Afficher</a>
            </li>
        {% endfor %}
        </ul>
        <a href="/games/new">Créer une partie</a>
        <br>
        <a href="/">Accueil</a>
        <br>
        <a href="/players">Gérer les joueurs</a>
    </body>
</html>